USE [master]
GO
/****** Object:  Database [RanShop]    Script Date: 24/09/2024 1:27:28 am ******/
CREATE DATABASE [RanShop] ON  PRIMARY 
( NAME = N'RanShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RanShop.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RanShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RanShop_log.ldf' , SIZE = 24384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RanShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RanShop]
GO
/****** Object:  Table [dbo].[LogShopPurchase]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogShopPurchase](
	[PurNum] [bigint] IDENTITY(1,1) NOT NULL,
	[PurKey] [varchar](21) NOT NULL,
	[PurFlag] [int] NULL,
	[PurDate] [datetime] NULL,
 CONSTRAINT [PK_LogShopPurchase] PRIMARY KEY CLUSTERED 
(
	[PurNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopItemMap]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopItemMap](
	[ProductNum] [int] IDENTITY(1,1) NOT NULL,
	[ItemMain] [int] NULL,
	[ItemSub] [int] NULL,
	[ItemName] [varchar](100) NULL,
	[ItemMoney] [int] NULL,
	[Category] [int] NULL,
	[ItemStock] [int] NOT NULL,
	[ItemList] [smallint] NULL,
	[ItemOrder] [int] NOT NULL,
	[ItemVisible] [int] NOT NULL,
	[ItemSec] [int] NULL,
	[Duration] [varchar](50) NULL,
	[ItemImage] [varchar](300) NULL,
	[ItemComment] [varchar](50) NULL,
 CONSTRAINT [PK_ShopItemMap] PRIMARY KEY CLUSTERED 
(
	[ProductNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopPurchase]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopPurchase](
	[PurKey] [bigint] IDENTITY(1,1) NOT NULL,
	[UserUID] [varchar](20) NOT NULL,
	[ProductNum] [int] NOT NULL,
	[PurPrice] [int] NOT NULL,
	[PurFlag] [int] NOT NULL,
	[PurDate] [datetime] NOT NULL,
	[PurChgDate] [datetime] NULL,
 CONSTRAINT [PK_ShopPurchase] PRIMARY KEY CLUSTERED 
(
	[PurKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopPurchaseHackLogs]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopPurchaseHackLogs](
	[UserID] [varchar](20) NOT NULL,
	[UserNum] [bigint] NOT NULL,
	[PurType] [int] NOT NULL,
	[ProductNum] [bigint] NOT NULL,
	[PurchaseDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopPurchaseLogs]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopPurchaseLogs](
	[UserID] [varchar](20) NOT NULL,
	[UserNum] [bigint] NOT NULL,
	[PurType] [int] NOT NULL,
	[Points] [bigint] NOT NULL,
	[PointsNew] [bigint] NOT NULL,
	[ProductNum] [bigint] NOT NULL,
	[ProductName] [varchar](25) NOT NULL,
	[ProductPrice] [bigint] NOT NULL,
	[PurchaseDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopPurFlag]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopPurFlag](
	[PurFlag] [int] NOT NULL,
	[PurFlagName] [varchar](20) NULL,
 CONSTRAINT [PK_ShopPurFlag] PRIMARY KEY CLUSTERED 
(
	[PurFlag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewShopPurchase]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------------------------------------
-- viewShopPurchase
-------------------------------------------------------------------------------

CREATE VIEW [dbo].[viewShopPurchase]
AS
SELECT   dbo.ShopPurchase.PurKey, dbo.ShopPurchase.UserUID, 
         dbo.ShopPurchase.ProductNum, dbo.ShopPurchase.PurPrice, 
         dbo.ShopPurchase.PurFlag, dbo.ShopPurchase.PurDate, 
         dbo.ShopPurchase.PurChgDate, dbo.ShopItemMap.ItemMain, 
         dbo.ShopItemMap.ItemSub, dbo.ShopItemMap.ItemName, 
         dbo.ShopPurFlag.PurFlagName
FROM     dbo.ShopPurchase INNER JOIN
         dbo.ShopItemMap ON 
         dbo.ShopPurchase.ProductNum = dbo.ShopItemMap.ProductNum LEFT OUTER JOIN
         dbo.ShopPurFlag ON dbo.ShopPurchase.PurFlag = dbo.ShopPurFlag.PurFlag



GO
/****** Object:  View [dbo].[viewShopPurchaseItem]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------------------------------------
-- view_ShopPurchaseItem.sql
-------------------------------------------------------------------------------

CREATE VIEW [dbo].[viewShopPurchaseItem]
AS
SELECT TOP 100 PERCENT SUM(A.PurPrice) AS tPrice, A.ItemMain, A.ItemSub, B.ItemName
FROM   dbo.viewShopPurchase A INNER JOIN
       dbo.ShopItemMap B ON A.ProductNum = B.ProductNum
GROUP BY A.ItemMain, A.ItemSub, B.ItemName
ORDER BY A.ItemMain, A.ItemSub



GO
ALTER TABLE [dbo].[LogShopPurchase] ADD  CONSTRAINT [DF_LogShopPurchase_PurDate]  DEFAULT (getdate()) FOR [PurDate]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF__ShopItemM__ItemS__38996AB5]  DEFAULT ((0)) FOR [ItemStock]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF_ShopItemMap_ItemList]  DEFAULT ((1)) FOR [ItemList]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF_ShopItemMap_ItemOrder]  DEFAULT ((99)) FOR [ItemOrder]
GO
ALTER TABLE [dbo].[ShopItemMap] ADD  CONSTRAINT [DF_ShopItemMap_ItemVisible]  DEFAULT ((1)) FOR [ItemVisible]
GO
ALTER TABLE [dbo].[ShopPurchase] ADD  CONSTRAINT [DF_ShopPurchase_PurPrice]  DEFAULT ((0)) FOR [PurPrice]
GO
ALTER TABLE [dbo].[ShopPurchase] ADD  CONSTRAINT [DF_ShopPurchase_PurFlag]  DEFAULT ((0)) FOR [PurFlag]
GO
ALTER TABLE [dbo].[ShopPurchase] ADD  CONSTRAINT [DF_ShopPurchase_PurDate]  DEFAULT (getdate()) FOR [PurDate]
GO
ALTER TABLE [dbo].[ShopPurchaseHackLogs] ADD  CONSTRAINT [DF_ShopPurchaseHackLogs_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[ShopPurchaseHackLogs] ADD  CONSTRAINT [DF_ShopPurchaseHackLogs_UserNum]  DEFAULT ((0)) FOR [UserNum]
GO
ALTER TABLE [dbo].[ShopPurchaseHackLogs] ADD  CONSTRAINT [DF_ShopPurchaseHackLogs_ProductNum]  DEFAULT ((0)) FOR [ProductNum]
GO
ALTER TABLE [dbo].[ShopPurchaseHackLogs] ADD  CONSTRAINT [DF_ShopPurchaseHackLogs_PurchaseDate]  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[ShopPurchaseLogs] ADD  CONSTRAINT [DF_ShopPurchaseLogs_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[ShopPurchaseLogs] ADD  CONSTRAINT [DF_ShopPurchaseLogs_UserNum]  DEFAULT ((0)) FOR [UserNum]
GO
ALTER TABLE [dbo].[ShopPurchaseLogs] ADD  CONSTRAINT [DF_ShopPurchaseLogs_PurType]  DEFAULT ((0)) FOR [PurType]
GO
ALTER TABLE [dbo].[ShopPurchaseLogs] ADD  CONSTRAINT [DF_Table_1_UserPoint]  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[ShopPurchaseLogs] ADD  CONSTRAINT [DF_ShopPurchaseLogs_PointsNew]  DEFAULT ((0)) FOR [PointsNew]
GO
ALTER TABLE [dbo].[ShopPurchaseLogs] ADD  CONSTRAINT [DF_ShopPurchaseLogs_ProductNum]  DEFAULT ((0)) FOR [ProductNum]
GO
ALTER TABLE [dbo].[ShopPurchaseLogs] ADD  CONSTRAINT [DF_ShopPurchaseLogs_ProductName]  DEFAULT ('') FOR [ProductName]
GO
ALTER TABLE [dbo].[ShopPurchaseLogs] ADD  CONSTRAINT [DF_ShopPurchaseLogs_PurchaseDate]  DEFAULT (getdate()) FOR [PurchaseDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertItem]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertItem]
	@PurKey	varchar(100),
	@UserId varchar(50),
	@MID int,
	@SID int,
	@nReturn int OUTPUT
AS	
	DECLARE
		@ProductNum int;

	SET NOCOUNT ON;
	
	SET @nReturn = -1;
	
	SELECT @ProductNum = ShopItemMap.ProductNum 
	FROM ShopItemMap
	WHERE ItemMain = @MID and ItemSub = @SID;

	IF @@ERROR <> 0 OR @@ROWCOUNT = 0
		BEGIN
			--item not found
			SET @nReturn = -1;
			SET NOCOUNT OFF
			RETURN @nReturn	
		END
	ELSE
		BEGIN
			INSERT INTO ShopPurchase ( UserUID, ProductNum, PurFlag, PurDate )
			VALUES( @UserId, @ProductNum, 0, GETDATE())
			IF @@ERROR = 0
			BEGIN 
				SET @nReturn = 0;
			END
		END
		
	SET NOCOUNT OFF;
	
	RETURN @nReturn



GO
/****** Object:  StoredProcedure [dbo].[sp_ItemMallBuy]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ItemMallBuy]
	@nProductNum	int,
	@nPrice			int,
	@nType			int,
	@userId			varchar(25),
	@nReturn		int OUTPUT
AS	
	DECLARE
		@nUserPoint int, 
		@nUserPointNew int,
		@nUserNum int,
		@nProductStock int,
		@productName varchar(25)
	SET NOCOUNT ON;
		
	BEGIN TRAN	

	SET @nReturn = -1
	SET @nUserPoint = 0
	SET @nUserPointNew = 0
	SET @nUserNum = 0
	SET @nProductStock = 0
	
	SELECT @nProductStock = [Itemstock]
	FROM [RanShop].[dbo].[ShopItemMap]
	WHERE [ProductNum] = @nProductNum

	IF @nProductStock <= 0
	BEGIN
		RETURN -1
	END

	IF @nType = 0 
	BEGIN
		SELECT @nUserPoint=[UserPoint]
		,@nUserNum=[UserNum]
		FROM [RanUser].[dbo].[UserInfo]
		WHERE [UserName]=@userId
	END
	ELSE
	BEGIN
		SELECT @nUserPoint=[UserPoint2]
		,@nUserNum=[UserNum]
		FROM [RanUser].[dbo].[UserInfo]
		WHERE [UserName]=@userId
	END
		
	IF @nUserPoint >= @nPrice
	BEGIN
		INSERT INTO ShopPurchase 
		(
			UserUID,
			ProductNum,
			PurPrice,
			PurFlag,
			PurDate,
			PurChgDate
		)
		VALUES
		(
			@userId,
			@nProductNum,
			@nPrice,
			0,
			GETDATE(),
			GETDATE()
		)
		
		UPDATE [ShopItemMap]
		SET [Itemstock] -= 1
		WHERE [ProductNum] = @nProductNum

		IF @nType = 0
		BEGIN
			UPDATE [RanUser].[dbo].[UserInfo]
			SET [UserPoint] -= @nPrice
			WHERE UserID = @userId
		END
		ELSE
		BEGIN
			UPDATE [RanUser].[dbo].[UserInfo]
			SET [UserPoint2] -= @nPrice
			WHERE UserID = @userId
		END
		
		--insert logs
		IF @nType = 0 
		BEGIN
			SELECT @nUserPointNew=[UserPoint]
			FROM [RanUser].[dbo].[UserInfo]
			WHERE [UserName]=@userId
		END
		ELSE
		BEGIN
			SELECT @nUserPointNew=[UserPoint2]
			FROM [RanUser].[dbo].[UserInfo]
			WHERE [UserName]=@userId
		END
		
		SELECT @productName=[ItemName]
		FROM ShopItemMap
		WHERE [ProductNum]=@nProductNum
		
		INSERT INTO ShopPurchaseLogs
		(
			UserID,
			UserNum,
			PurType,
			Points,
			PointsNew,
			ProductNum,
			ProductName,
			ProductPrice
		)
		VALUES
		(
			@userId,
			@nUserNum,
			@nType,
			@nUserPoint,
			@nUserPointNew,
			@nProductNum,
			@productName,
			@nPrice
		)

		SET @nReturn = 1;
	END
	ELSE
	BEGIN
		INSERT INTO ShopPurchaseHackLogs
		(
			UserID,
			UserNum,
			PurType,
			ProductNum
		)
		VALUES
		(
			@userId,
			@nUserNum,
			@nType,
			@nProductNum
		)
		
		SET @nReturn = -1
	END
	

COMMIT TRAN;
SET NOCOUNT OFF;

RETURN @nReturn







GO
/****** Object:  StoredProcedure [dbo].[sp_purchase_change_state]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_purchase_change_state]
	@purkey varchar(22),
    @purflag int,
	@nReturn int OUTPUT
AS
	DECLARE 	
		@error_var int, -- Declare variables used in error checking.
		@rowcount_var int,
		@nFlag int

	SET NOCOUNT ON
	
	SET @nFlag = 0
	
	SELECT @nFlag=PurFlag 
	FROM ShopPurchase 
	WHERE PurKey=@purkey
	
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
	    SET @nReturn = 0
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END
	
	-- 官操妨绰 内靛客 泅犁 内靛啊 鞍篮 版快 俊矾
	IF @nFlag = @purflag
	BEGIN
	    SET @nReturn = 0
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END
	
	-- 沥犬窍霸 官曹荐 乐绰 版快
    UPDATE ShopPurchase
    SET PurFlag=@purflag, PurChgDate=getdate() 
    WHERE PurKey=@purkey

	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
	    -- 角菩
	    SET @nReturn = 0
	END
    ELSE
    BEGIN
	    -- 己傍
	    INSERT INTO LogShopPurchase (PurKey, PurFlag) 
	    VALUES (@purkey, @purflag)
	    SET @nReturn = 1
    END

	SET NOCOUNT OFF

	RETURN @nReturn



GO
/****** Object:  StoredProcedure [dbo].[sp_purchase_insert_item]    Script Date: 24/09/2024 1:27:28 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_purchase_insert_item]
	@purkey varchar(22),
	@useruid varchar(30),
    @productnum int,
    @purprice int,
	@nReturn int OUTPUT
AS
	DECLARE 	
		@error_var int -- Declare variables used in error checking.

	SET NOCOUNT ON

	INSERT INTO ShopPurchase (PurKey, UserUID, ProductNum, PurPrice) 
	VALUES (@purkey, @useruid, @productnum, @purprice)

	SELECT @error_var = @@ERROR
	IF @error_var <> 0 
	BEGIN
	    -- 火涝角菩
	    SET @nReturn = 0	    
	END
        ELSE
        BEGIN
	    -- 沥惑利栏肺 火涝 己傍
	    SET @nReturn = 1
        END

	SET NOCOUNT OFF

	RETURN @nReturn



GO
USE [master]
GO
